* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#image1 {
    width: 100px;
    border: 5px solid darkgrey;
    background-color: rgb(225, 225, 225);
    padding: 24px;
    margin: 24px;
}

#image2 {
    width: 200px;
    border: 10px solid rgb(1, 127, 5);
    background-color: rgb(225, 225, 225);
    padding: 12px;
    margin: 24px;
    border-radius: 50%;
}

#frame3 {
    display: inline-block;
    width: 250px;
    border: 5px solid darkgrey;
    background-color: rgb(225, 225, 225);
    padding: 24px;
    margin: 24px;
}