* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

div {
    /* border: 10px solid green; */
    margin: 24px 48px;
    padding: 60px;
    border-radius: 24px;
    background-color: aquamarine;
}